@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajouter une nouvelle font-family au niveau du reset */
@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  html{
    font-family: Montserrat;
  }
}

/* Personnalisation */
.title{
  font-size: 40px;
  background: salmon;
  padding: 10px;
}

/* Ajouter des classes à une couche */
@layer base {
  h1 {
    @apply text-4xl text-sky-600 p-96;
  }
}

@layer components{
  .btn {
    @apply m-8 p-4 text-zinc-800 min-w-[200px] bg-red-300;
  }
}

