@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personnalisation */
.title{
  font-size: 40px;
  background: salmon;
  padding: 10px;
}

/* Ajouter des classes à une couche */
@layer base {
  h1 {
    @apply text-4xl text-sky-600 p-96;
  }
}

@layer components{
  .btn {
    @apply m-8 p-4 text-zinc-800 min-w-[200px] bg-red-300;
  }
}

